{% load i18n static %}
{% if cl.search_fields %}

 <link type="text/css" href="{% static "asset/CSS/material-search1.css" %}" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<div id="toolbar"><form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->



<div class="wrap">
   <div class="search-bar1">
      <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" class="searchTerm-bar1" placeholder="What are you looking for?" autofocus>
      <button type="submit" class="searchButton-bar1">
            <span class="material-icons">
            search
            </span>
      </button>
   </div>
</div>


{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endif %}
{% endfor %}
</div>
</form></div>
{% endif %}


